---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
const title = frontmatter.title;
const description = frontmatter.description;
---

<BaseLayout title={title} description={description}>
  <article>
    <h1 class="page-title">{title}</h1>
    <div class="prose">
      <slot />
    </div>
  </article>
</BaseLayout>

